.title-wrap {
  width: 50%;
  margin: 0 auto;
  align-self: flex-start;
}

.title {
  color: #e17055;
  font-family: 'Indie Flower', cursive;
  margin-bottom: -0.5em;
  text-align: center;
}

.subtitle {
  color: #636e72;
  font-family: 'Dancing Script', cursive;
  text-align: center;
}
